body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header label {
    font-size: 2.5rem;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px rgb(0, 0, 0, 0.5);
}

.header {
    background-color: cadetblue;
    border-radius: 0 0 10px 10px;
    padding: 5px;
}

.search-container {
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 0;
    border: 3px solid #2200ff;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: #2200ff;
}

#search-button {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #2200ff;
    border-radius: 0;
    border: 3px solid #2200ff;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 250px;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}